* {
    display: flex;
    justify-content: center;
    background-color: rgb(253, 239, 171);
}

#board {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
    align-items: center;
    background-color: aliceblue;
}

tr {
    display: block;
    justify-content: center;
    background-color: #fff;
    border-collapse: collapse;

}

td {
    border: 1px solid rebeccapurple;
}

img {
    height: 100px;
    width: 100px;
}