/* * {
  //  display: flex;
  // justify-content: center;
} */

/* Import Google Font - Platypi */
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Platypi', serif;
}

body {
  font-size: x-large;
  background: #fff461;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  padding-bottom: 30px;
}

#board {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 600px;
    border-radius: 50px 0px;
    align-items: center;
    background-color: #cafdf0;
}

table {
  border-collapse: separate;
} */

td {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  background-color: rgb(52, 52, 52);
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  height: 100px;
  width: 100px;
  border: solid 2px;
  border-radius: 5px;
  border-style: dotted;
  margin-right: 6px;
}

.cardBack {
  display: inline;
}

.cardFront {
  display: none;
}

button {
  display: inline-block;
  padding: 7px 15px 7px;
  margin-top: 20px;
  font-size: medium;
  letter-spacing: 0.2px;
  background: #fdfdf7;
  border-radius: 10px;
  border-style: dotted;
  cursor: grab;
  border-radius: 0px 10px;
}

/* ------------------------------------------------------------------------ */

/* Mobile devices (laptops and desktops, 768px and down) */


@media screen and (max-width: 768px) {

h2 {
  font-size: 25px;
  padding-bottom: 20px;
}

#board {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
    border-radius: 30px 0px;
    align-items: center;
    background-color: #cafdf0;
}

img {
  height: 80px;
  width: 80px;
  border: solid 2px;
  border-radius: 5px;
  border-style: dotted;
  margin-right: 6px;
}

button {
  display: inline-block;
  padding: 3px 10px 3px;
  margin-top: 15px;
  font-size: small;
  letter-spacing: 0.5px;
  background: #fdfdf7;
  border-radius: 10px;
  border-style: dotted;
  cursor: grab;
  border-radius: 0px 10px;
}

}